*
{
    margin: 0px;
    padding: 0px;
}
.container1
{
    border: 1px solid black;
    background-color:black;
    height: 400px;
    width: 200px;
    float: left;
    
    margin-left: 20px;
    position: relative;
    float: left;
}
.container1 img
{
    height:210px;
    width: 200px;
    position: absolute;
    float: left;
}
.container1 .charreacterdiv 
{
    position: absolute;
}

.container1 .charreacterdiv 
{
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
    
}
.container1 .charreacterdiv
{
    left: 45px;
    bottom: 150px;
}
.container1 .charreacterdiv p
{
    text-align: center;
    margin-top: 22px;
    font-size: 50px;
    color: white;
}
.container1 .textdiv 
{
    position: absolute;
    margin-top:  263px;
    position: absolute;
    padding-top: 3px;
    
}
.container1 .textdiv h3 
{
    text-align: center;
    color: white;
    font-size: 20px;
}
.container1 .textdiv p
{
    text-align: center;
    color: white;
    margin-top: 25px;
}

/*.ourservicesdiv .ourteam1
{
    border: 1px solid red;
    background-color: lightgreen;
    height: 200px;
    float: left;
}*/
.ourservicesdiv
{
    /*background-color: lightgreen;*/
    height: 500px;
    
    
}
.ourteam1 img
{
    float: left;
    border: 1px solid green;
    width: 150px;
    height: 200px;

}
.ourteam2
{
    background-color: lightseagreen;
    width: 150px;
    height: 200px;
    float: left;
    border: 1px solid green;
}
.ourteam2 p
{
    padding: 5px;
    text-align: center;
    margin-top:9px;
}
.ourservicesdivdiv
{
    display: inline-flex;
}